body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
img {
  margin: auto;
  display: block;
}
nav {
  text-align: center;
}
nav > a {
  padding-left: 10px;
  padding-right: 10px;
  background: lightgrey;
}
figcaption {
  text-align: center;
  font-size: small;
}
#featured-property p {
  text-align: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 800px;
}
#details > div {
  float: left;
  padding-left: 6.25%;
  padding-right: 6.25%;
  text-align: center;
  background: crimson;
}